//renk degiskenleri


$bg-black: #000000;
$bg-blackTwo: #222;
$bg-blackThree: rgb(36, 33, 33);
$bg-gray: gray;
$bg-grayTwo: #dde0ec;
$bg-grayThree: rgb(105, 105, 105);
$bg-grayFour: rgb(49, 49, 49);
$bg-white: #fff;
$bg-whiteTwo: rgb(226, 226, 226);
$bg-blue: #2196f3;
$bg-blueTwo: #1565c0;
$bg-blueThree: #dde0ec;
$bg-blueFour: #283593;


//button 
$btn-gray: rgb(51, 51, 51);

//background color
$bg-light: #fffffc;


$text-main: #1f2798;

// $text-main: #080f6d;


$text-white: #fffffc;
$text-whiteTwo: rgb(207, 207, 207);
$text-black: #000000;
$text-gray: #454544;
$text-btn: orange;

 

/*

121922
f4f4f1
2f4470
0c1f4e   *
23272f
0f2346  **

1265ff
002632  *
121212
FFC219  sari

*/


:root {

    // --track-color: #202324;
    // --thumb-color: #454a4d;
    // --thumb-hover-color: #596268;

    // --fb-color: #3b5998;
    // --google-color: #a61c00;
    // --twitter-color: #1da1f2;

    --text-shadow: 1px 1px 2px rgba($color: #000000, $alpha: 0.8);
}