
//genel comporent aktiviteler ve reservasyon sayfasında kulanılacak
.ActivityCart{

    width: 100%;
    display: flex;
    margin: 155px 0;
     @include mobil{
        display: block;
    }

    //sırayla elemanları ters ceviriyor 2. eleamnı seciyor (icerik sag ve sol yer degistirecek)
    &:nth-child(even){
        flex-direction: row-reverse;
    }

    //ortadan bolundu ikiye baslık ve metin var
    &-left{
        width: 45%;
         overflow: hidden;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 0 40px;

        @include mobil{
            width: 100%;
            padding: 0;
        }

        &-title{
             font-size: $FontTen;
            font-weight: 500;
            color: $text-main;
            @include mobil{
                font-size: $FontSix;
            }
        }

        &-text{
 
            padding: 20px 0;
            text-indent: 20px;
            line-height: 23px;
            font-size: 17px;
        }
    }

    //sag taraf 2 tane resim var
    &-right{
        width: 55%;
        display: flex;
        justify-content: space-between;
        height: 430px;

        @include mobil{
            width: 100%;
            height: 230px;
        }

        &-image{
            width: 49%;
            display: flex;

            img{
                object-fit: cover;
            }
        }
    }

}