
//genel comporent aktiviteler ve reservasyon sayfasında kulanılacak
.ActivityCart{

    width: 100%;
    display: flex;
    margin: 35px 0;
     @include mobil{
        display: block;
    }

    //sırayla elemanları ters ceviriyor 2. eleamnı seciyor (icerik sag ve sol yer degistirecek)
    &:nth-child(even){
        flex-direction: row-reverse;
    }

    //sol taraf title, text ve button var
    &-left{
        width: 45%;
         overflow: hidden;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 0 40px;

        @include mobil{
            width: 100%;
            padding: 0;
        }

        &-title{
             font-size: $FontSeven;
            font-weight: 500;
            color: $text-main;
            @include mobil{
                font-size: $FontSix;
            }
        }

        &-text{
 
            padding: 20px 0;
            text-indent: 20px;
            line-height: 23px;
            font-size: 17px;
            color: $text-black;
        }

        &-button{
            margin-bottom: 30px;
            width: 120px;
            padding: 6px 0;
            border-radius: 10px 0;
            border: 1px solid $text-main;
            display: block;
            font-weight: 500;
            color: $text-white;
            background-color: $text-main;
        }
    }

    //sag taraf 2 tane gorsel var
    &-right{
        width: 55%;
        display: flex;
        justify-content: space-between;
        height: 430px;

        @include mobil{
            width: 100%;
            height: 230px;
        }

        &-image{
            width: 49%;
            display: flex;

            img{
                object-fit: cover;
            }
        }
    }

}