

.buttonGeneral{

        width: 100%;
        height: 50px;
        justify-content: center;
        align-items: center;
        display: flex;
        border-radius: 5px;
        margin: 10px 0;
        border: 1px solid black;
        background-color: $text-main;
        color: $text-white;
        cursor: pointer;

        &-text{
            font-weight: 500;
            font-size: $FontFour;
            padding-left: 7px;
            color: $text-white;

        }
    
}

.btnOutline{
    background-color: $bg-white;
 
    .buttonGeneral-text{
      color: $text-black;
        
    }
    
}

.btnSmall{
  width: 200px;
}