//DatePicker 

.datePicker{
    margin-right: 200px;
    display: flex;
}

.inputs{

    padding: 5px 0;

    &-input{
        width: 100%;
        // height: 50px;
        line-height: 21px;
        margin: 7px 0;
        padding: 15px;
        border: 2px rgb(196, 193, 193) solid;
        border-radius: 5px;
        color: $text-black;
        font-weight: 500;


        // &::placeholder{
        //     color: $text-gray;
        // }

        option{
            font-size: 16px;
        }

    }

    &-title{
        color: black;
        font-size: $FontThree;
        font-weight: 500px;
    }
}

.err{
    border: 2px solid red;
    
}