//navbar
.generalNavbar {
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: end;
    align-items: center;
    padding-right: 15px;
    gap: 5px;
    overflow: hidden;
    position: absolute;
    color: $bg-gray;

}

//layout profile
.profile-content {
    display: flex;
    overflow: hidden;
    height: 100vh;

    //icerik kısmı
    &-children {
        padding-top: 45px;
        padding: 85px 15px;
        overflow: auto;
        flex: 1;
        height: auto;

    }
}


//sol sidebar
.generalSidebar {
    background-color: $bg-light;
    height: 100vh;
    width: 270px;
    z-index: 1000;
    box-shadow: 0 0 2px 0 gray;
    transition: left 0.5s;

    &-title {
        display: flex;
        align-items: center;
        height: 70px;
        padding-left: 25px;
        margin-bottom: 15px;
        border-bottom: 2px solid gray;
        position: relative;
        font-weight: 500;

        &-hamburgerMenu {
            position: absolute;
            right: -35px;
            cursor: pointer;

        }
    }

    &-items {

        &-item {

            display: flex;
            align-items: center;
            padding: 10px 20px;

            &-icon {
                width: 35px;
                height: 35px;
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: #ddd;
                border-radius: 7px;
                margin-right: 10px;
            }
        }

    }
}

//sidebar menu ac kapa
.setOpenMenu {
    position: absolute;
    left: -270px;

}


//table
.table-container {
    font-family: 'Roboto', sans-serif;
    border-radius: 10px;
    box-shadow: 0 0 5px 0 gray;
    overflow: auto;
    // border: 10px solid rgb(203, 202, 202);
    

}

table {
    width: 100%;
    border-collapse: collapse;
}

th,
td {
    padding: 12px 15px;
    text-align: left;
    text-align: center;
    min-width: 100px;

}

th {
    color: red;
    /* Başlık metin rengi beyaz */
}

tbody tr:nth-child(odd) {
    background-color: #ddd;
    /* Çift sıradaki satırların arka plan rengi gri tonu */
}

//   tbody tr:nth-child(odd) {
//     background-color: #fafafa; /* Tek sıradaki satırların arka plan rengi beyaz tonu */
//   }

tbody tr:hover {
    // background-color: $text-main; /* Tek sıradaki satırların arka plan rengi beyaz tonu */
}