.room-cart {
    &-content {
        background-color: #f7fbff;

        .room-image {
            width: 5px;
        }

        .room-card-content {
            .room-name {
                font-size: 1.5rem;
                margin-bottom: 0.5rem;
                color: #333;
            }

            .room-accordion {
                margin-top: 1rem;

                .room-description {
                    font-size: 1rem;
                    margin-top: 1rem;
                    margin-bottom: 1rem;
                    color: #555;
                }

                .room-feature {
                    display: flex;
                    align-items: center;
                    margin-bottom: 0.5rem;

                    .feature-icon {
                        margin-right: 0.5rem;
                        color: #007bff;
                    }
                }
            }
        }

        .room-price {
            flex: 1;
            display: flex;
            flex-direction: column;
            align-items: flex-end;

            .reservation-button {
                margin-top: 2rem;
                background-color: #28a745;
                color: #fff;

                &:hover {
                    background-color: #218838;
                }
            }
        }
    }
}