.room-card {
    background-color: #f7fbff;
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;


}

.room-card-content {
    display: flex;
    flex-direction: row;

    @include mobil {
        flex-direction: column;
    }

}

.room-card-content-1 {
    flex: 1;
}

.room-image {
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.room-card-content-2 {
    flex: 3;
    margin-left: 1rem;
}

.room-name {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
    color: #333;
}

.room-accordion {
    margin-top: 1rem;
}

.room-description {
    font-size: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    color: #555;
}

.room-feature {
    display: flex;
    align-items: center;
    margin-bottom: 0.5rem;
}

.feature-icon {
    margin-right: 0.5rem;
    color: #007bff;
}

.star-icons {
    margin-top: 2%;
}

.price {
    font-size: 13px;
}

.reservation-button {
    margin-top: 2rem;
    background-color: #28a745;
    color: #fff;
}

.reservation-button:hover {
    background-color: #218838;
}