.about {
    &-grid {
        margin: 5%;
        border: 1px solid #ddd;
        border-radius: 8px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

        &-2 {
            &-typography {
                text-align: justify;
                margin: 5%;
                margin-top: 17%;

                @include mobil {
                    margin: 5%;
                }
            }

            &-telNo {
                margin: 5%;
                font-size: 20px;
                font-weight: bold;

                @include mobil {
                    margin: 5%;
                }
            }
        }
    }
}