.demo {
    &-toolbar {
        display: flex;
        justify-content: space-between;
        height: $FontTen;
        color: $text-black;
        font-style: italic;
        background-color: $bg-light;

        @include mobil {}


        &-instructionText {
            flex-grow: 1;
            text-align: center;

        }

        &-companyLogo {
            content: url('../../../public/logo/STAYEASE.png');
            margin-left: -5%;
            height: 4.5rem;
            width: 10rem;

            @include mobil {
                margin-left: -10%;
            }
        }

        &-monitorLogo {
            margin-left: -1.5rem;
        }

        &-phoneLogo {
            margin-left: 1rem;
        }

        Button {
            font-size: 12px;
        }
    }
}