.demo {
    &-toolbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: white;

        &-instructionText {
            flex-grow: 1;
            text-align: center;
            font-style: italic;
        }

        &-companyLogo {
            content: url('../../logo/STAYEASE.png');
            margin-left: -25px;
            height: 75px;
            width: 170px;
        }

        &-monitorLogo {
            margin-left: 10px;
        }

        &-phoneLogo {
            margin-left: 10px;
        }

    }
}
