.demo {
    &-toolbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 4rem;
        color: $text-black;
        font-style: italic;

        background-color: $bg-light;

        &-instructionText {
            flex-grow: 1;
            text-align: center;
        }

        &-companyLogo {
            content: url('../../../public/logo/STAYEASE.png');
            margin-left: -50px;
            height: 75px;
            width: 170px;
        }

        &-monitorLogo {
            margin-left: -25px;
        }

        &-phoneLogo {
            margin-left: 10px;
        }

    }
}