.footer {
    background-color: $bg-blackThree;

    &-container {
        padding: 7% 0;

        &-grid {
 
            &-logo {

                content: url('../../../public/logo/logo.png');
                margin-top: -7rem;
                margin-left: -6rem;

                content: url('../../../public/logo/stayease.png');
                margin: -53% 0 -10% -55.5%;
                padding: 3rem;

                @include mobil {
                    margin: -38%;
                    padding: 13rem;
                }
            }

            .logo-description {
                margin: 1rem 0 0 -5rem;
                text-align: left;
                color: $text-whiteTwo;
                font-size: $FontEleven;

                @include mobil {
                    margin: 1%;
                    margin-top: 15%;
                }

            }

            &-menu {
                display: grid;
                grid-gap: 5px;
                color: $text-white;


                .header {
                    font-family: $FontFamilyOne;
                    font-size: $FontTwelve;

                }

                .footer-link {
                    color: $text-white;
                    text-decoration: none;


                    &:hover {
                        color: $text-gray;
                    }

                }

            }

            &-follow {
                display: grid;
                color: $text-white;

                .header {
                    font-family: $FontFamilyOne;
                    font-size: $FontTwelve;
                }

                .footer-link {
                    color: $text-white;
                    text-decoration: none;

                    &:hover {
                        color: $text-gray;
                    }

                }

            }

            &-newsletter {
                color: $text-white;

                .header {
                    font-family: $FontFamilyOne;
                    font-size: $FontTwelve;
                    margin-bottom: 0.5rem;
                }

                .textfield {
                    background-color: $bg-grayFour;
                    margin: 10px 0;
                    width: 18rem;
                    border-radius: 5px;

                }

            }

            .divider {
                background-color: $bg-grayThree;
                height: 15rem;

            }

            .subscribe {
                margin-top: 1px;
            }

        }

    }

    .copyright {

        background-color: $bg-whiteTwo;

        &-text {
            color: $text-black;
            font-size: $FontTwo;
            text-align: center;
            padding: 1.5%;
        }
    }

}