.footer {
    background-color: $bg-blackThree;

    &-container {
        padding: 7% 0;

        &-grid {
 
            &-logo {
                content: url('../../../public/logo/logo.png');
                margin-top: -7rem;
                margin-left: -6rem;

                @include mobil {
                    margin-top: -2.9rem;
                    margin-left: -3.5rem;
                    padding: 25px;
                }

            }

            .logo-description {
                margin-top: -10px;
                margin-left: -5rem;
                margin-right: 29.9px;
                text-align: justify;
                color: $text-whiteTwo;
                font-size: $FontEleven;

                @include mobil {
                    text-align: left;
                    margin-left: -11px;
                    width: 9.5rem;
                    font-size: 12px;
                }

            }

            &-menu {
                display: grid;
                grid-gap: 5px;
                color: $text-white;

                @include mobil {
                    font-size: 12px;

                }



                .header {
                    font-family: $FontFamilyOne;
                    font-size: $FontTwelve;

                    @include mobil {
                        font-size: 13px;
                    }

                }

                .footer-link {
                    color: $text-white;
                    text-decoration: none;


                    &:hover {
                        color: $text-gray;
                    }

                }



            }

            &-follow {
                display: grid;
                color: $text-white;

                @include mobil {
                    font-size: 12px;
                }

                .header {
                    font-family: $FontFamilyOne;
                    font-size: $FontTwelve;

                    @include mobil {
                        font-size: 13px;
                    }

                }

                .footer-link {
                    color: $text-white;
                    text-decoration: none;

                    &:hover {
                        color: $text-gray;
                    }

                }

            }


            &-newsletter {
                color: $text-white;

                .header {
                    font-family: $FontFamilyOne;
                    font-size: $FontTwelve;

                    @include mobil {
                        font-size: 13px;
                    }

                }

                .textfield {
                    background-color: $bg-grayFour;
                    margin: 10px 0;
                    width: 18rem;
                    border-radius: 5px;

                    @include mobil {
                        width: 11.5rem;
                        margin-left: -10px;
                    }

                }


                .textfield label {
                    @include mobil {
                        font-size: 13px;
                        padding: 4px;
                    }
                }

            }

            .divider {
                background-color: $bg-grayThree;
                height: 15rem;

            }

            .subscribe {
                margin-top: 1px;

                @include mobil {
                    margin-left: -10px;
                }
            }

        }

    }

    .copyright {

        background-color: $bg-whiteTwo;

        &-text {
            color: $text-black;
            font-size: $FontTwo;
            text-align: center;
            padding: 18px;
        }
    }

}