.footer {
    background-color: $bg-blackThree;

    &-container {
        padding: 100px 0;

        &-grid {

            &-logo {
                content: url('../../../public/logo/STAYEASE.png');
                margin-top: -7rem;
                margin-left: -6rem;
            }

            .logo-description {
                margin-top: -10px;
                margin-left: -5rem;
                margin-right: 29.9px;
                text-align: justify;
                color: $text-whiteTwo;
                font-size: $FontEleven;

            }

            &-menu {
                display: grid;
                grid-gap: 5px;

                color: $text-white;


                .header {
                    font-family: $FontFamilyOne;
                    font-size: $FontTwelve;
                }

                .footer-link {
                    color: $text-white;
                    text-decoration: none;

                    &:hover {
                        color: $text-gray;
                    }

                }



            }

            &-follow {
                display: grid;
                color: $text-white;


                .header {
                    font-family: $FontFamilyOne;
                    font-size: $FontTwelve;
                }

                .footer-link {
                    color: $text-white;
                    text-decoration: none;

                    &:hover {
                        color: $text-gray;
                    }

                }

            }


            &-newsletter {
                color: $text-white;

                .header {
                    font-family: $FontFamilyOne;
                    font-size: $FontTwelve;
                }

                .textfield {
                    background-color: $bg-grayFour;
                    margin: 10px 0;
                    width: 18rem;
                    border-radius: 5px;

                }
            }

            .divider {
                background-color: $bg-grayThree;
                height: 15rem;

            }

            .subscribe {
                margin-top: 1px;
            }

        }

    }

    .copyright {

        background-color: $bg-whiteTwo;

        &-text {
            color: $text-black;
            font-size: $FontTwo;
            text-align: center;
            padding: 18px;
        }
    }

}