.Services {
    width: 90%;
    height: auto;
    margin: auto;
    
    @include mobil{
        width: 100%;
    }

    //hizmetleri kapsayan container
    &-container {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        justify-content: center;
        margin: 20px 0;

        @include mobil{
            gap: 10px;
        }

       

        //hizmetlerin her elmanın kapsayıcısı / icon, text
        &-item {
            width: 15%;   
            background-color: rgb(200, 200, 200);
            height: 150px;
            display: flex;
            justify-content: center;   
            align-items: center;
            flex-direction: column;
            color: $text-black; 
            
          

            &:hover {
                animation: dollarAnimation 0.5s ease-in-out;
              }
            
              @keyframes dollarAnimation {
                0% {
                  transform: scale(1);
                }
                50% {
                  transform: scale(1.1);
                }
                100% {
                  transform: scale(1);
                }
              }
            

            @include mobil {
                width: 31%;
                height: 130px;
            }

            &-icon{
                font-size: 35px;
                padding-bottom: 15px;

                @include mobil{
                    font-size: $FontFive;
                }
            }

            &-text{
                font-size: $FontFive;

                @include mobil{
                    font-size: $FontThree;
                }
            }

        }
    }
}
