.Services {
    width: 90%;
    height: auto;
    margin: auto;
    
    @include mobil{
        width: 100%;
    }

    //hizmetlerimizdeki ortadaki baslık
    &-title {
        padding: 20px 0;
        text-align: center;
        font-size: $FontSix;
    }

    //hizmetleri kapsayan container
    &-container {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        justify-content: center;
        margin: 20px 0;

        @include mobil{
            gap: 10px;
        }

       

        //hizmetlerin her elmanın kapsayıcısı / icon, text
        &-item {
            width: 15%;   
            background-color: rgb(200, 200, 200);
            height: 150px;
            display: flex;
            justify-content: center;   
            align-items: center;
            flex-direction: column;
            color: $text-black; 
            
            &:hover{
                .Services-container-item-text{
                    border-bottom: 3px solid $text-main;
                    border-radius: 7px;
                    box-sizing: border-box;
                    box-shadow: none;
                }
            }

            @include mobil {
                width: 31%;
                height: 130px;
            }

            &-icon{
                font-size: 40px;
                padding-bottom: 10px;

                @include mobil{
                    font-size: $FontFive;
                }
            }

            &-text{
                font-size: $FontFive;

                @include mobil{
                    font-size: $FontThree;
                }
            }

        }
    }
}
