.navbarBottom {
    &-toolbar {
        background-color: rgb(237, 237, 255);
        height: 4rem;
        justify-content: center;
        overflow-x: auto;

        @include mobil{
            justify-content: start;
            overflow-y: auto;
        }

        .button {
            color: rgb(92, 92, 92);
            font-family: $FontFamilyOne;
            font-size: $FontThree;
            font-weight: bold;
            height: 100%;
            border: none;
            padding: 0 15px;
            transition: background-color 0.3s ease, color 0.3s ease;

            @include mobil {

                width: 100%;
                font-size: 14px;
                margin: 0 20px;
                padding: 0 1%;
            }


            &:hover {
                background-color: rgb(94, 94, 163);
                color: $text-white;
            }

        }
    }
}