.navbar {
    position: fixed;
    width: 100%;
    z-index: 900;

    //solda acılır kapanır menu
    &-isMenu {
        position: absolute;
        height: 100vh;
        width: 280px;
        background-color: $bg-light;
        display: flex;
        flex-direction: column;
        z-index: 1000;

        @include mobil{
            height: 109vh;
        }

        //acılır kapanır menu ust taraf
        &-item {
            flex: 1;
            margin-top: 85px;

            &-items {
                width: 100%;
                padding: 7px 35px;
                font-size: $FontFive;
                color: $text-main;
               
            }

            :hover{
                background-color: $text-main;
                color: $text-white;
                border-radius: 5px;
                
            }
        }

        //acılır kapanır menu alt taraf
        &-bottom {
            display: flex;
            flex-direction: column;
            align-items: center;
            height: 20%;
            border-top: 2px solid $text-main;
            padding-top: 7px;

            @include mobil{
                height: 15%;
            }
  

            &-button{
                width: 90%;
                border-radius: 7px;
                padding: 15px 0;
                background-color: $text-main;
                color: $text-white;
            }

            &-text{
                padding: 7px 0;
                font-weight: 500;
                font-size: $FontThree;
            }

            &-number{
                font-size: $FontFour;
            }
        }
    }

    //tıklandıgında sol menu gizliyor
    &-isOpen {
        position: absolute;
        left: -280px;
        background-color: antiquewhite;
    }

    //rezervasyon yap usten ac kap 
    &-reservation {
        position: absolute;
        bottom: -100px;
        width: 100%;

        &-container {
            background-color: $bg-light;
            height: 100px;
            display: flex;
            justify-content: center;
            align-items: center;
            color: $text-black;
            gap: 20px;
            flex-wrap: wrap;

            @include mobil{
                gap: 0;
            }
            select {
                width: 200px;
                height: 45px;
                border: black;
                border: 1px solid #ccc; /* Varsayılan border rengi ve genişliği */
                font-size: $FontThree;
                
                @include mobil{
                    width: 100px;
                    height: 30px;
                    font-size: $FontTwo;
                    margin-right: 10px;

                }

            }

            input{
                width: 120px;
                padding: 0 4px;
            }

            button {
                background-color: $text-main;
                padding: 15px 40px;
                border-radius: 7px;
                color: $text-white;

                @include mobil{
                    padding: 10px 25px;
                    
                }
            }



        }

        //butona tıklandıgında gizliyor
        &-reservationNone {
            display: none;
        }
    }

    //navbar genel
    &-container {

        display: flex;
        justify-content: center;
        align-items: center;
        // background-color: #FFC219;
        background-color: $text-main;
        // background-color: rgba($text-main);

        color: $text-white;
        padding: 0 40px;
        font-size: 20px;
        height: 70px;

        @include mobil{
            padding: 10px 15px;
            
         }

         //navbar sol taraf, hamburgerMenu
        &-left {
            width: 40%;
            
            &-hamburgerIcon {
                cursor: pointer;
            }
            .hamburgerIcons{
                color: $text-main;
                cursor: pointer; 

            }

            z-index: 1000;

        }

        //otel logosu
        &-center {
            margin: auto;
            cursor: pointer;
            font-size: $FontFive;
            font-weight: 500;
            border-bottom: 2px solid $text-white;
            transition: 1s all;
            border-radius: 7px ;
            &:hover{
                padding-bottom: 7px;
            }
        }

        //navbar sag taraf, rezervasyon yap btn, user icon, dil
        &-right {
            margin-left: auto;
            width: 40%;
            //sağda olan ogeler
            ul {
                
                display: flex;
                justify-content: end;
                align-items: center;
                margin: 0 25px;

                @include mobil{
                    margin: 0;
                }

            }
            
            //navbarda user icon
            &-user{
                cursor: pointer;
                position: relative;

                //user ac kapa, giris yap, kayıt ol
                &-item{
                    width: 100px;
                    position: absolute;
                    left: -55px;
                    top: 35px;
                    padding: 5px;
                    border-radius: 7px;
                    line-height: 25px;
                    display: flex;
                    flex-direction: column;
                    gap: 3px;

                    li{
                        width: 100%;
                        border:2px solid $text-main;
                        border-radius: 7px;
                        font-size: $FontTwo;
                        text-align: center;
                        padding: 3px 1px;
                        background-color: $text-main;
                    }


                    @include mobil{
                        margin: 0 70px;
                        left: -40px;
                    }
                }

                //tıklandıgında user gizliyor
                .isUser{
                    display: none;
              
                }

                @include mobil{
                    margin: 0 5px;
                }
            }

            //rezervasyon yap button
            button {
                background-color: $text-btn;
                padding: 14px 20px;
                margin: 0 25px;
                border-radius: 7px;

                @include mobil{
                    display: none;
                 }
            }
            
            //dil secme select
            select {
                background-color: transparent;
                font-size: $FontThree;
                margin: auto;
                cursor: pointer;

            }

            &-darkMode{
                padding: 0 10px;
                cursor: pointer;
            }

        }
    }
}