.navbarBottom {
    &-toolbar {
        background-color: $bg-grayTwo;
        height: 64px;
        display: flex;
        justify-content: center;
        overflow-x: auto;

        @include mobil{
            justify-content: start;
        }

        .button {
            color: $btn-gray;
            font-family: $FontFamilyOne;
            font-size: $FontThree;
            font-weight: bold;
            height: 100%;
            border: none;
            padding: 0 14px;
            background-color: transparent;
            transition: background-color 0.3s ease, color 0.3s ease, transform 0.3s ease; // Transform efekti eklendi

            @include mobil {
                font-size: 14px;
             }

            &:hover {
                background-color: $bg-blueFour;
                color: $text-white;
                transform: scale(1.1); // Büyüklük artışı efekti eklendi
            }

        }
    }
}