// tüm dosyaları buraya import edicez buradan dısarıya gondericez

        // Base
@import '../scss/base/base';
@import '../scss/extends/extends';
@import '../scss/mixins/mixins';
@import '../scss/variables/index.scss';


/*comporents*/

@import './components/navbar';
@import './components/homeHeader';
@import './components/demo';
@import './components/homeHolidayCart';
@import './components/homeServices';
@import './components/homeCategory';
@import './components/footer';
@import './components/navbarBottom';
@import './components/comment';
@import './components/companyProfile';
@import './components/contact';
@import './components/about';
@import './components/gallery';
@import './components/modal';
@import './components/roomCart';
@import './components/activityCart';






/*general*/
@import './components/general/heading';
@import './components/general/pageTitleImage';
@import './components/general/input';
@import './components/general/button';
@import './components/general/navbar';









